## PANDAS

It’s simple to use Pandas in order to export your array as well.
If you are new to NumPy, you may want to create a Pandas dataframe from the values in your array and
then write the data frame to a CSV file with Pandas.

#https://pandas.pydata.org/docs/user_guide/index.html
#https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook

#### Kütüphane Çağırma:
##### Not: Kütüphane yüklü değilse !pip install pandas komutu ile bilgisayara indirilmelidir.

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
import os
path = os.getcwd()
print(path)

/opt/app-root/src/6.Hafta_Python_Handson_Modelleme/#1Warm-up-session

In [ ]:
#SERIES

In [ ]:
series_sample=pd.Series([4, 5, -16, 3])
series_sample

0     4
1     5
2   -16
3     3
dtype: int64

In [ ]:
series_sample=pd.Series([4, 5, -16, 3], index=['x', 'y', 'z', 'w'])

In [ ]:
series_sample

x     4
y     5
z   -16
w     3
dtype: int64

In [ ]:
series_sample['z']

-16

## DATAFRAME

NOT:

df[x] — index a column using variable x. Returns pd.Series

df[[x]] — index/slice a single-column DataFrame using variable x. Returns pd.DataFrame

df['x'] — index a column named 'x'. Returns pd.Series

df[['x']] — index/slice a single-column DataFrame having only one column named 'x'. Returns pd.DataFrame

df.x — dot accessor notation, equivalent to df['x'] (there are, however, limitations on what x can be named if dot notation is to be successfully used). Returns pd.Series

With single brackets [...] you may only index a single column out as a Series. With double brackets, [[...]], you may select as many columns as you need, and these columns are returned as part of a new DataFrame.

Kaynak: https://stackoverflow.com/questions/50302180/difference-between-dfx-dfx-dfx-dfx-and-df-x

In [ ]:
# 1'den 13'e kadar olan sayılar ile 3x4 lük bir array oluşturma
m=np.arange(1,13).reshape(3,4)
m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
pd.DataFrame(m,columns=["a","b","c","d"])

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
dataset_manuel = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]}

In [ ]:
df_manuel = pd.DataFrame(dataset_manuel,columns=['Country',  'Capital',  'Population'])

In [ ]:
df_manuel

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [ ]:
#a row in dictionary
new_row1 = {'Country':'Turkey', 'Capital':'Ankara', 'Population':85454307}

In [ ]:
new_row1

{'Country': 'Turkey', 'Capital': 'Ankara', 'Population': 85454307}

In [ ]:
#adding manuel new row dictionary to dataframe
next_index= len(df_manuel)
df_manuel.loc[next_index]=new_row1

In [ ]:
df_manuel

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
3   Turkey     Ankara    85454307

In [ ]:
# Bazı Hızlı Pandas Fonksiyonları:

In [ ]:
median(df_manuel['Population'])

207847528

In [ ]:
df_manuel['Population'].sum()

1654463716

In [ ]:
df_manuel['Population'].mean()

330892743.2

In [ ]:
df_manuel['Population'].median()

85454307.0

In [ ]:
df_manuel['Population'].min()

11190846

### pandas ile birçok veri kaynağıdan farklı metotlarla veri almak münkündür:
    - pd.read_excel
    - pd.read_csv
    - pd.read_sql

## Veri seti ile çalışma

@allison_horst https://github.com/allisonhorst/penguins

<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict5.png?raw=1" width="250"/><td>

<table><tr>
    
<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict4.png?raw=1" width="250"/><td>
    
<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict3.png?raw=1" width="250"/><td>
    
</tr></table>

In [ ]:
# csv uzantılı verisetini pandas ile okuma:
penguins_features = pd.read_csv("penguins_features.csv")

In [ ]:
#dataset.drop('Index', inplace=True, axis=1)

In [ ]:
# Verisetinin Boyutu:
#Yöntem-1:

In [ ]:
num_rows = penguins_features.shape[0]
num_rows

344

In [ ]:
num_columns = penguins_features.shape[1]
num_columns

9

In [ ]:
#Yöntem-2:

In [ ]:
penguins_features.shape

(344, 9)

In [ ]:
# Verisetindeki Değişken Türleri:

In [ ]:
#Yöntem-1:

In [ ]:
penguins_features.dtypes

Species                 object
Stage                   object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Body Mass (g)          float64
Sex                     object
sample_id                int64
dtype: object

In [ ]:
#Yöntem-2:

In [ ]:
penguins_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Stage                344 non-null    object
 2   Clutch Completion    344 non-null    object
 3   Culmen Length (mm)   342 non-null    float64
 4   Culmen Depth (mm)    342 non-null    float64
 5   Flipper Length (mm)  342 non-null    float64
 6   Body Mass (g)        342 non-null    float64
 7   Sex                  334 non-null    object
 8   sample_id            344 non-null    int64
dtypes: float64(4), int64(1), object(4)
memory usage: 24.3+ KB

In [ ]:
# Temel Veriseti Gösterimleri:

In [ ]:
penguins_features.head()

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5

In [ ]:
penguins_features.head(3)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3

In [ ]:
penguins_features.tail(3)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,50.4,15.7,222.0,5750.0,MALE,342
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,45.2,14.8,212.0,5200.0,FEMALE,343
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.9,16.1,213.0,5400.0,MALE,344

In [ ]:
penguins_location = pd.read_csv("penguins_location.csv")

NameError: name 'pd' is not defined

In [ ]:
penguins_location.shape

(344, 3)

In [ ]:
penguins_location.dtypes

Region       object
Island       object
sample_id     int64
dtype: object

In [ ]:
penguins_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     344 non-null    object
 1   Island     344 non-null    object
 2   sample_id  344 non-null    int64
dtypes: int64(1), object(2)
memory usage: 8.2+ KB

In [ ]:
penguins_location.head(345)

     Region     Island  sample_id
0    Anvers  Torgersen          1
1    Anvers  Torgersen          2
2    Anvers  Torgersen          3
3    Anvers  Torgersen          4
4    Anvers  Torgersen          5
..      ...        ...        ...
339  Anvers     Biscoe        340
340  Anvers     Biscoe        341
341  Anvers     Biscoe        342
342  Anvers     Biscoe        343
343  Anvers     Biscoe        344

[344 rows x 3 columns]

In [ ]:
penguins_location.tail()

     Region  Island  sample_id
339  Anvers  Biscoe        340
340  Anvers  Biscoe        341
341  Anvers  Biscoe        342
342  Anvers  Biscoe        343
343  Anvers  Biscoe        344

### Verisetlerini Birleştirme

In [ ]:
#adding index to the manuel inserted row
new_row2 = pd.Series(data={'Country':'Spain', 'Capital':'Madrid', 'Population':46800000}) #, name='x'
new_row2 = pd.DataFrame([new_row2])

In [ ]:
#adding manuel new row to dataframe
df_manuel = pd.concat([df_manuel, new_row2], ignore_index=True)

In [ ]:
df_manuel

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
3   Turkey     Ankara    85454307
4    Spain     Madrid    46800000

In [ ]:
penguin_dataset_final = pd.merge(penguins_features, penguins_location, on='sample_id')
display(penguin_dataset_final)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id,Region,Island
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1,Anvers,Torgersen
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2,Anvers,Torgersen
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3,Anvers,Torgersen
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4,Anvers,Torgersen
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5,Anvers,Torgersen
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",No,NaN,NaN,NaN,NaN,NaN,340,Anvers,Biscoe
340,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,46.8,14.3,215.0,4850.0,FEMALE,341,Anvers,Biscoe
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,50.4,15.7,222.0,5750.0,MALE,342,Anvers,Biscoe
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,45.2,14.8,212.0,5200.0,FEMALE,343,Anvers,Biscoe
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.9,16.1,213.0,5400.0,MALE,344,Anvers,Biscoe

In [ ]:
list(penguin_dataset_final)

['Species',
 'Stage',
 'Clutch Completion',
 'Culmen Length (mm)',
 'Culmen Depth (mm)',
 'Flipper Length (mm)',
 'Body Mass (g)',
 'Sex',
 'sample_id',
 'Region',
 'Island']

In [ ]:
# copy dataset

In [ ]:
#penguin_dataset = penguin_dataset_final.copy()

In [ ]:
penguin_dataset1 = penguin_dataset_final.copy()

### Veri Seti Genel Düzenleme:

In [ ]:
newcol_names={'Clutch Completion':'Clutch_comp',
             'Culmen Length (mm)': 'Culmen_lenght_mm',
             'Culmen Depth (mm)': 'Culmen_depth_mm',
             'Flipper Length (mm)': 'Flipper_length_mm',
             'Body Mass (g)': 'Body_mass_g'}

In [ ]:
penguin_dataset= penguin_dataset1.rename(columns=newcol_names)

In [ ]:
#Alternatif olarak ->>> columns = {'body_mass_g':'weight', ...}

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Species            344 non-null    object
 1   Stage              344 non-null    object
 2   Clutch_comp        344 non-null    object
 3   Culmen_lenght_mm   342 non-null    float64
 4   Culmen_depth_mm    342 non-null    float64
 5   Flipper_length_mm  342 non-null    float64
 6   Body_mass_g        342 non-null    float64
 7   Sex                334 non-null    object
 8   sample_id          344 non-null    int64
 9   Region             344 non-null    object
 10  Island             344 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 29.7+ KB

### Kayıp Veri (missing values) ile Uğraşma:

In [ ]:
penguin_dataset.isnull().sum()

Species               0
Stage                 0
Clutch_comp           0
Culmen_lenght_mm      2
Culmen_depth_mm       2
Flipper_length_mm     2
Body_mass_g           2
Sex                  10
sample_id             0
Region                0
Island                0
dtype: int64

In [ ]:
sum(penguin_dataset['Species'].isnull())

0

In [ ]:
sum(penguin_dataset['Sex'].isnull())

10

In [ ]:
#Missing Alternatif-1:

penguin_dataset2 = penguin_dataset.dropna()
penguin_dataset2.count()

Species              334
Stage                334
Clutch_comp          334
Culmen_lenght_mm     334
Culmen_depth_mm      334
Flipper_length_mm    334
Body_mass_g          334
Sex                  334
sample_id            334
Region               334
Island               334
dtype: int64

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               344 non-null    object
 1   Stage                 344 non-null    object
 2   Clutch_comp           344 non-null    object
 3   Culmen_lenght_mm      342 non-null    float64
 4   Culmen_depth_mm       342 non-null    float64
 5   Flipper_length_mm     342 non-null    float64
 6   Body_mass_g           342 non-null    float64
 7   Sex                   334 non-null    object
 8   sample_id             344 non-null    int64
 9   Region                344 non-null    object
 10  Island                344 non-null    object
 11  Culmen_lenght_mm_v1   344 non-null    float64
 12  Culmen_depth_mm_v1    344 non-null    float64
 13  Flipper_length_mm_v1  344 non-null    float64
 14  Body_mass_g_v1        344 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 40.4+ KB

#Cinsiyet'te Hala boş değerler var. Ne yapacağımıza karar verelim?
- Tamamen satır silebiliriz.
- Mod/Median/Mean/ bir sayısal değer vb. ile doldurabiliriz.
- Kategorik olduğu için tahminleme yapabiliriz.

In [ ]:
penguin_dataset3 = penguin_dataset[penguin_dataset['Sex'].notnull()]
penguin_dataset3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               334 non-null    object
 1   Stage                 334 non-null    object
 2   Clutch_comp           334 non-null    object
 3   Culmen_lenght_mm      334 non-null    float64
 4   Culmen_depth_mm       334 non-null    float64
 5   Flipper_length_mm     334 non-null    float64
 6   Body_mass_g           334 non-null    float64
 7   Sex                   334 non-null    object
 8   sample_id             334 non-null    int64
 9   Region                334 non-null    object
 10  Island                334 non-null    object
 11  Culmen_lenght_mm_v1   334 non-null    float64
 12  Culmen_depth_mm_v1    334 non-null    float64
 13  Flipper_length_mm_v1  334 non-null    float64
 14  Body_mass_g_v1        334 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 41.8+ KB

In [ ]:
# Veri Filtreleme İşlemlerine örnek:

In [ ]:
# Fazla değişkenleri Silme:

In [ ]:
penguin_dataset_new=penguin_dataset2.drop(['Culmen_lenght_mm_v1','Body_mass_g_v1'], axis = 1)

In [ ]:
penguin_dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               334 non-null    object
 1   Stage                 334 non-null    object
 2   Clutch_comp           334 non-null    object
 3   Sex                   334 non-null    object
 4   sample_id             334 non-null    int64
 5   Region                334 non-null    object
 6   Island                334 non-null    object
 7   Culmen_lenght_mm_v1   334 non-null    float64
 8   Culmen_depth_mm_v1    334 non-null    float64
 9   Flipper_length_mm_v1  334 non-null    float64
 10  Body_mass_g_v1        334 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 31.3+ KB

In [ ]:
penguin_dataset_fiter1 = penguin_dataset1[['Culmen_lenght_mm_v1', 'Culmen_depth_mm_v1', 'Flipper_length_mm_v1']].copy()

penguin_dataset_fiter1.head()

   Culmen_lenght_mm_v1  Culmen_depth_mm_v1  Flipper_length_mm_v1
0                 39.1                18.7                 181.0
1                 39.5                17.4                 186.0
2                 40.3                18.0                 195.0
4                 36.7                19.3                 193.0
5                 39.3                20.6                 190.0

In [ ]:
penguin_dataset1.iloc[0]

Species                 Adelie Penguin (Pygoscelis adeliae)
Stage                                    Adult, 1 Egg Stage
Clutch_comp                                             Yes
Culmen_lenght_mm                                       39.1
Culmen_depth_mm                                        18.7
Flipper_length_mm                                     181.0
Body_mass_g                                          3750.0
Sex                                                    MALE
sample_id                                                 1
Region                                               Anvers
Island                                            Torgersen
Culmen_lenght_mm_v1                                    39.1
Culmen_depth_mm_v1                                     18.7
Flipper_length_mm_v1                                  181.0
Body_mass_g_v1                                       3750.0
Name: 0, dtype: object

In [ ]:
penguin_dataset1.iloc[0:8]

,Species,Stage,Clutch_comp,Culmen_lenght_mm,Culmen_depth_mm,Flipper_length_mm,Body_mass_g,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1,Anvers,Torgersen,39.1,18.7,181.0,3750.0
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2,Anvers,Torgersen,39.5,17.4,186.0,3800.0
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3,Anvers,Torgersen,40.3,18.0,195.0,3250.0
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5,Anvers,Torgersen,36.7,19.3,193.0,3450.0
5,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.3,20.6,190.0,3650.0,MALE,6,Anvers,Torgersen,39.3,20.6,190.0,3650.0
6,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",No,38.9,17.8,181.0,3625.0,FEMALE,7,Anvers,Torgersen,38.9,17.8,181.0,3625.0
7,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",No,39.2,19.6,195.0,4675.0,MALE,8,Anvers,Torgersen,39.2,19.6,195.0,4675.0
12,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,41.1,17.6,182.0,3200.0,FEMALE,13,Anvers,Torgersen,41.1,17.6,182.0,3200.0

In [ ]:
penguin_dataset1.loc[:, ['Island']]

        Island
0    Torgersen
1    Torgersen
2    Torgersen
4    Torgersen
5    Torgersen
..         ...
338     Biscoe
340     Biscoe
341     Biscoe
342     Biscoe
343     Biscoe

[334 rows x 1 columns]

In [ ]:
penguin_dataset1.loc[:, ['Region', 'Island']]

     Region     Island
0    Anvers  Torgersen
1    Anvers  Torgersen
2    Anvers  Torgersen
4    Anvers  Torgersen
5    Anvers  Torgersen
..      ...        ...
338  Anvers     Biscoe
340  Anvers     Biscoe
341  Anvers     Biscoe
342  Anvers     Biscoe
343  Anvers     Biscoe

[334 rows x 2 columns]

In [ ]:
penguin_dataset1.loc[0:4, ['Region', 'Island']]

   Region     Island
0  Anvers  Torgersen
1  Anvers  Torgersen
2  Anvers  Torgersen
4  Anvers  Torgersen

In [ ]:
penguin_dataset1.loc[penguin_dataset1['Island'] == 'Biscoe']

,Species,Stage,Clutch_comp,Culmen_lenght_mm,Culmen_depth_mm,Flipper_length_mm,Body_mass_g,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
20,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,37.8,18.3,174.0,3400.0,FEMALE,21,Anvers,Biscoe,37.8,18.3,174.0,3400.0
21,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,37.7,18.7,180.0,3600.0,MALE,22,Anvers,Biscoe,37.7,18.7,180.0,3600.0
22,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,35.9,19.2,189.0,3800.0,FEMALE,23,Anvers,Biscoe,35.9,19.2,189.0,3800.0
23,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.2,18.1,185.0,3950.0,MALE,24,Anvers,Biscoe,38.2,18.1,185.0,3950.0
24,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.8,17.2,180.0,3800.0,MALE,25,Anvers,Biscoe,38.8,17.2,180.0,3800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",No,47.2,13.7,214.0,4925.0,FEMALE,339,Anvers,Biscoe,47.2,13.7,214.0,4925.0
340,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,46.8,14.3,215.0,4850.0,FEMALE,341,Anvers,Biscoe,46.8,14.3,215.0,4850.0
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,50.4,15.7,222.0,5750.0,MALE,342,Anvers,Biscoe,50.4,15.7,222.0,5750.0
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,45.2,14.8,212.0,5200.0,FEMALE,343,Anvers,Biscoe,45.2,14.8,212.0,5200.0
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.9,16.1,213.0,5400.0,MALE,344,Anvers,Biscoe,49.9,16.1,213.0,5400.0

In [ ]:
penguin_dataset[penguin_dataset1['Culmen_lenght_mm_v1'] == 38.8]

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
24,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,MALE,25,Anvers,Biscoe,38.8,17.2,180.0,3800.0
36,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,MALE,37,Anvers,Dream,38.8,20.0,190.0,3950.0
126,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,FEMALE,127,Anvers,Torgersen,38.8,17.6,191.0,3275.0

In [ ]:
# Veri Sıralama:

In [ ]:
sorted_mass1 = penguin_dataset1['Body_mass_g_v1'].sort_values().reset_index(drop=True)

sorted_mass1.head(10)

0    2700.0
1    2850.0
2    2850.0
3    2900.0
4    2900.0
5    2900.0
6    2900.0
7    2925.0
8    3000.0
9    3000.0
Name: Body_mass_g_v1, dtype: float64

In [ ]:
sorted_mass2 = penguin_dataset.sort_values('Body_mass_g_v1')

sorted_mass2.tail()

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
331,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,MALE,332,Anvers,Biscoe,49.8,15.9,229.0,5950.0
337,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,MALE,338,Anvers,Biscoe,48.8,16.2,222.0,6000.0
297,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,MALE,298,Anvers,Biscoe,51.1,16.3,220.0,6000.0
253,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,MALE,254,Anvers,Biscoe,59.6,17.0,230.0,6050.0
237,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,MALE,238,Anvers,Biscoe,49.2,15.2,221.0,6300.0

### Veri Gruplama:

In [ ]:
penguin_dataset.groupby('Species')['Body_mass_g_v1'].mean()

Species
Adelie Penguin (Pygoscelis adeliae)          3706.164384
Chinstrap penguin (Pygoscelis antarctica)    3733.088235
Gentoo penguin (Pygoscelis papua)            5090.625000
Name: Body_mass_g_v1, dtype: float64

In [ ]:
Species_group = penguin_dataset.groupby('Species', as_index=False).count()
Species_group

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
0,Adelie Penguin (Pygoscelis adeliae),146,146,146,146,146,146,146,146,146,146
1,Chinstrap penguin (Pygoscelis antarctica),68,68,68,68,68,68,68,68,68,68
2,Gentoo penguin (Pygoscelis papua),120,120,120,120,120,120,120,120,120,120

In [ ]:
Species_group=penguin_dataset.groupby(['Species'])['Species'].count().reset_index(name='count')
#pd.set_option('display.max_rows', 100)
Species_group

                                     Species  count
0        Adelie Penguin (Pygoscelis adeliae)    146
1  Chinstrap penguin (Pygoscelis antarctica)     68
2          Gentoo penguin (Pygoscelis papua)    120

In [ ]:
multi_group= penguin_dataset.groupby(['Species', 'Island'])['Species'].count().reset_index(name='count')
multi_group

                                     Species     Island  count
0        Adelie Penguin (Pygoscelis adeliae)     Biscoe     44
1        Adelie Penguin (Pygoscelis adeliae)      Dream     55
2        Adelie Penguin (Pygoscelis adeliae)  Torgersen     47
3  Chinstrap penguin (Pygoscelis antarctica)      Dream     68
4          Gentoo penguin (Pygoscelis papua)     Biscoe    120

In [ ]:
# verisetinin detaylarını inceleme:

In [ ]:
penguin_dataset['Culmen_lenght_mm_v1'].min()

32.1

In [ ]:
min_culmen_length = penguin_dataset['Culmen_lenght_mm_v1'].min()

min_culmen_length

32.1

In [ ]:
max_culmen_length  = penguin_dataset['Culmen_lenght_mm_v1'].max()

max_culmen_length

59.6

In [ ]:
range_of_culmen_length  = max_culmen_length - min_culmen_length

range_of_culmen_length

27.5

In [ ]:
q1_culmen_length = penguin_dataset['Culmen_lenght_mm_v1'].quantile(.25)

q1_culmen_length

39.5

In [ ]:
q3_culmen_length = penguin_dataset['Culmen_lenght_mm_v1'].quantile(.75)

q3_culmen_length

48.575

In [ ]:
Culmen_lenght_mean = penguin_dataset['Culmen_lenght_mm_v1'].mean()

Culmen_lenght_mean

43.99431137724551

In [ ]:
Culmen_lenght_median = penguin_dataset['Culmen_lenght_mm_v1'].median()

Culmen_lenght_median

44.5

In [ ]:
#Summary Statistics

In [ ]:
penguin_dataset.describe()

,sample_id,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
count,334.000000,334.000000,334.000000,334.000000,334.000000
mean,173.793413,43.994311,17.160479,201.014970,4209.056886
std,97.612101,5.460521,1.967909,14.022175,804.836129
min,1.000000,32.100000,13.100000,172.000000,2700.000000
25%,90.250000,39.500000,15.600000,190.000000,3550.000000
50%,173.500000,44.500000,17.300000,197.000000,4050.000000
75%,257.750000,48.575000,18.700000,213.000000,4793.750000
max,344.000000,59.600000,21.500000,231.000000,6300.000000

In [ ]:
## aggregetion

### Değişken İçeriği Değiştirme:

In [ ]:
penguin_dataset['Clutch_comp']=penguin_dataset['Clutch_comp'].str.replace('Yes', 'Y')

In [ ]:
penguin_dataset['Clutch_comp']=penguin_dataset['Clutch_comp'].str.replace('No', 'N')

In [ ]:
Clutch_comp_group=penguin_dataset.groupby(['Clutch_comp'])['Clutch_comp'].count().reset_index(name='count')
Clutch_comp_group

  Clutch_comp  count
0           N     35
1           Y    299

In [ ]:
penguin_dataset['Sex'] = penguin_dataset['Sex'].map({'MALE': 0, 'FEMALE': 1})
penguin_dataset.head(15)

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,1,Anvers,Torgersen,39.1,18.7,181.0,3750.0
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,2,Anvers,Torgersen,39.5,17.4,186.0,3800.0
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,3,Anvers,Torgersen,40.3,18.0,195.0,3250.0
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,5,Anvers,Torgersen,36.7,19.3,193.0,3450.0
5,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,6,Anvers,Torgersen,39.3,20.6,190.0,3650.0
6,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",N,1.0,7,Anvers,Torgersen,38.9,17.8,181.0,3625.0
7,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",N,0.0,8,Anvers,Torgersen,39.2,19.6,195.0,4675.0
12,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,13,Anvers,Torgersen,41.1,17.6,182.0,3200.0
13,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,14,Anvers,Torgersen,38.6,21.2,191.0,3800.0
14,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,15,Anvers,Torgersen,34.6,21.1,198.0,4400.0
15,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,16,Anvers,Torgersen,36.6,17.8,185.0,3700.0
16,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,17,Anvers,Torgersen,38.7,19.0,195.0,3450.0
17,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,18,Anvers,Torgersen,42.5,20.7,197.0,4500.0
18,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,19,Anvers,Torgersen,34.4,18.4,184.0,3325.0
19,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,20,Anvers,Torgersen,46.0,21.5,194.0,4200.0

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               334 non-null    object
 1   Stage                 334 non-null    object
 2   Clutch_comp           334 non-null    object
 3   Sex                   333 non-null    float64
 4   sample_id             334 non-null    int64
 5   Region                334 non-null    object
 6   Island                334 non-null    object
 7   Culmen_lenght_mm_v1   334 non-null    float64
 8   Culmen_depth_mm_v1    334 non-null    float64
 9   Flipper_length_mm_v1  334 non-null    float64
 10  Body_mass_g_v1        334 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 39.4+ KB

### Değişken Türü Değiştirme

In [ ]:
penguin_dataset['Sex'] = penguin_dataset.Sex.astype('str')

In [ ]:
penguin_dataset['Sex'].dtypes

dtype('O')

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               334 non-null    object
 1   Stage                 334 non-null    object
 2   Clutch_comp           334 non-null    object
 3   Sex                   334 non-null    object
 4   sample_id             334 non-null    int64
 5   Region                334 non-null    object
 6   Island                334 non-null    object
 7   Culmen_lenght_mm_v1   334 non-null    float64
 8   Culmen_depth_mm_v1    334 non-null    float64
 9   Flipper_length_mm_v1  334 non-null    float64
 10  Body_mass_g_v1        334 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 39.4+ KB

### yeni değişken oluşturma

In [ ]:
# Body index for Penguines (Hayali)

In [ ]:
penguin_dataset['body_index'] = (((penguin_dataset['Culmen_lenght_mm_v1']*penguin_dataset['Culmen_depth_mm_v1'])*penguin_dataset['Flipper_length_mm_v1'])
                                  /penguin_dataset['Body_mass_g_v1']).astype(int)

penguin_dataset.sample(5)

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1,body_index
36,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,37,Anvers,Dream,38.8,20.0,190.0,3950.0,37
164,Chinstrap penguin (Pygoscelis antarctica),"Adult, 1 Egg Stage",Y,1.0,165,Anvers,Dream,47.0,17.3,185.0,3700.0,40
197,Chinstrap penguin (Pygoscelis antarctica),"Adult, 1 Egg Stage",Y,0.0,198,Anvers,Dream,50.8,18.5,201.0,4450.0,42
332,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Y,1.0,333,Anvers,Biscoe,43.5,15.2,213.0,4650.0,30
198,Chinstrap penguin (Pygoscelis antarctica),"Adult, 1 Egg Stage",Y,1.0,199,Anvers,Dream,50.1,17.9,190.0,3400.0,50

### applying function

In [ ]:
penguin_dataset['health']=penguin_dataset['body_index'].apply(lambda x: 'Healthy' if x>30 else 'Need_care')

In [ ]:
penguin_dataset

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1,body_index,health
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,1,Anvers,Torgersen,39.1,18.7,181.0,3750.0,35,Healthy
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,2,Anvers,Torgersen,39.5,17.4,186.0,3800.0,33,Healthy
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,3,Anvers,Torgersen,40.3,18.0,195.0,3250.0,43,Healthy
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,5,Anvers,Torgersen,36.7,19.3,193.0,3450.0,39,Healthy
5,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,6,Anvers,Torgersen,39.3,20.6,190.0,3650.0,42,Healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",N,1.0,339,Anvers,Biscoe,47.2,13.7,214.0,4925.0,28,Need_care
340,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Y,1.0,341,Anvers,Biscoe,46.8,14.3,215.0,4850.0,29,Need_care
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Y,0.0,342,Anvers,Biscoe,50.4,15.7,222.0,5750.0,30,Need_care
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Y,1.0,343,Anvers,Biscoe,45.2,14.8,212.0,5200.0,27,Need_care
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Y,0.0,344,Anvers,Biscoe,49.9,16.1,213.0,5400.0,31,Healthy

In [ ]:
health_group=penguin_dataset.groupby(['health'])['health'].count().reset_index(name='count')
health_group

      health  count
0    Healthy    254
1  Need_care     80

In [ ]:
# PANDAS + NUMPY Birlikte Kullanımı ile Veri Düzenleme:

In [ ]:
penguin_dataset['Overweight_flag'] = np.where((penguin_dataset['Body_mass_g_v1'])>450, 1, 0)

In [ ]:
#Alternatif: penguin_dataset['Overweight_flag']  = [1 if x> 450 else 0 for x in penguin_dataset.Body_mass_g_v1]

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               334 non-null    object
 1   Stage                 334 non-null    object
 2   Clutch_comp           334 non-null    object
 3   Sex                   334 non-null    object
 4   sample_id             334 non-null    int64
 5   Region                334 non-null    object
 6   Island                334 non-null    object
 7   Culmen_lenght_mm_v1   334 non-null    float64
 8   Culmen_depth_mm_v1    334 non-null    float64
 9   Flipper_length_mm_v1  334 non-null    float64
 10  Body_mass_g_v1        334 non-null    float64
 11  body_index            334 non-null    int64
 12  health                334 non-null    object
 13  Overweight_flag       334 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 47.2+ KB

In [ ]:
penguin_dataset.head(3)

,Species,Stage,Clutch_comp,Sex,sample_id,Region,Island,Culmen_lenght_mm_v1,Culmen_depth_mm_v1,Flipper_length_mm_v1,Body_mass_g_v1,body_index,health,Overweight_flag
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,0.0,1,Anvers,Torgersen,39.1,18.7,181.0,3750.0,35,Healthy,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,2,Anvers,Torgersen,39.5,17.4,186.0,3800.0,33,Healthy,1
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Y,1.0,3,Anvers,Torgersen,40.3,18.0,195.0,3250.0,43,Healthy,1

## Farklı Veri kaynaklarını çağırma

pandas ile birçok veri kaynağına farklı metotlarla veri yazmak münkündür:
    - pd.read_excel
    - pd.read_csv
    - pd.read_sql

In [ ]:
penguin_dataset.to_csv('penguins_preprocessed.csv', sep=',', index=False)

In [ ]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
                   Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...                   index=['cobra', 'viper', 'sidewinder'],
    ...                   columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...                  index=['viper', 'sidewinder', 'cobra'])]
                         max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Multiple conditional using ``&`` that returns a boolean Series

    >>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
                max_speed  shield
    viper          4       5

    Multiple conditional using ``|`` that returns a boolean Series

    >>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
                max_speed  shield
    cobra               1       2
    sidewinder          7       8

    Please ensure that each condition is wrapped in parentheses ``()``.
    See the :ref:`user guide<indexing.boolean>`
    for more details and explanations of Boolean indexing.

    .. note::
        If you find yourself using 3 or more conditionals in ``.loc[]``,
        consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

        See below for using ``.loc[]`` on MultiIndex DataFrames.

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    Add value matching location

    >>> df.loc["viper", "shield"] += 5
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       5
    sidewinder          0       0

    Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
    index labels, not the index positions.

    >>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
    >>> df.loc[:] += shuffled_df
    >>> df
                max_speed  shield
    cobra              60      20
    viper               0      10
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...                   index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...     ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...     ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...     ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...           [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Please see the :ref:`user guide<advanced.advanced_hierarchical>`
    for more details and explanations of advanced indexing.

In [ ]:
penguin_dataset.memory_usage()

Index                   10968
Species                  2672
Stage                    2672
Clutch_comp              2672
Sex                      2672
sample_id                2672
Region                   2672
Island                   2672
Culmen_lenght_mm_v1      2672
Culmen_depth_mm_v1       2672
Flipper_length_mm_v1     2672
Body_mass_g_v1           2672
body_index               2672
health                   2672
Overweight_flag          2672
dtype: int64

In [ ]:
#Önemli not, veriyi doğrudan çalıştırma, çok büyükse çalışman zarar görebilir !!!
#penguin_dataset

## Tarihsel İşlemler

In [ ]:
#Başımıza bela olan tarih formatlarını inceleyelim:

In [ ]:
print(pd.Timestamp.now())
print(pd.Timestamp.now().date())
print(pd.Timestamp.now().year)
print(pd.Timestamp.now().month)
print(pd.Timestamp.now().day)
print(pd.Timestamp.now().hour)
print(pd.Timestamp.now().minute)
print(pd.Timestamp.now().second)
print(pd.Timestamp.now().microsecond)

2024-06-11 08:41:50.850474
2024-06-11
2024
6
11
8
41
50
850765

In [ ]:
# Import date
from datetime import datetime

In [ ]:
# generate datetime data

df = pd.DataFrame({
    'name': ['alice','bob','charlie', 'david', 'mark', 'Judy'],
    'date_of_birth': ['10/15/1980','10/29/1988','09/18/1993', '01/11/1990', '07/06/1982', '03/06/1998']
})

In [ ]:
df

      name date_of_birth
0    alice    10/15/1980
1      bob    10/29/1988
2  charlie    09/18/1993
3    david    01/11/1990
4     mark    07/06/1982
5     Judy    03/06/1998

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6 non-null      object
 1   date_of_birth  6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes

In [ ]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'],  format='%m/%d/%Y')

In [ ]:
df

      name date_of_birth
0    alice    1980-10-15
1      bob    1988-10-29
2  charlie    1993-09-18
3    david    1990-01-11
4     mark    1982-07-06
5     Judy    1998-03-06

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6 non-null      object
 1   date_of_birth  6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 224.0+ bytes

In [ ]:
df["todaydatetime"] = pd.Timestamp.now()

In [ ]:
df

      name date_of_birth              todaydatetime
0    alice    1980-10-15 2024-06-11 08:42:44.318413
1      bob    1988-10-29 2024-06-11 08:42:44.318413
2  charlie    1993-09-18 2024-06-11 08:42:44.318413
3    david    1990-01-11 2024-06-11 08:42:44.318413
4     mark    1982-07-06 2024-06-11 08:42:44.318413
5     Judy    1998-03-06 2024-06-11 08:42:44.318413

In [ ]:
df['year_of_birth'] = df['date_of_birth'].map(lambda x: x.strftime('%Y'))

In [ ]:
df

      name date_of_birth              todaydatetime year_of_birth
0    alice    1980-10-15 2024-06-11 08:42:44.318413          1980
1      bob    1988-10-29 2024-06-11 08:42:44.318413          1988
2  charlie    1993-09-18 2024-06-11 08:42:44.318413          1993
3    david    1990-01-11 2024-06-11 08:42:44.318413          1990
4     mark    1982-07-06 2024-06-11 08:42:44.318413          1982
5     Judy    1998-03-06 2024-06-11 08:42:44.318413          1998

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6 non-null      object
 1   date_of_birth  6 non-null      datetime64[ns]
 2   todaydatetime  6 non-null      datetime64[us]
 3   year_of_birth  6 non-null      object
dtypes: datetime64[ns](1), datetime64[us](1), object(2)
memory usage: 320.0+ bytes

In [ ]:
df["hour"] = df["todaydatetime"].dt.hour

In [ ]:
df

      name date_of_birth              todaydatetime year_of_birth  hour
0    alice    1980-10-15 2024-06-11 08:42:44.318413          1980     8
1      bob    1988-10-29 2024-06-11 08:42:44.318413          1988     8
2  charlie    1993-09-18 2024-06-11 08:42:44.318413          1993     8
3    david    1990-01-11 2024-06-11 08:42:44.318413          1990     8
4     mark    1982-07-06 2024-06-11 08:42:44.318413          1982     8
5     Judy    1998-03-06 2024-06-11 08:42:44.318413          1998     8

In [ ]:
df["todayyear"] = pd.Timestamp.now().year

In [ ]:
df['year_of_birth']=df['year_of_birth'].astype(str).astype(int)
df['year_todaydatetime']=df['todayyear'].astype(str).astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                6 non-null      object
 1   date_of_birth       6 non-null      datetime64[ns]
 2   todaydatetime       6 non-null      datetime64[us]
 3   year_of_birth       6 non-null      int64
 4   hour                6 non-null      int32
 5   todayyear           6 non-null      int64
 6   year_todaydatetime  6 non-null      int64
dtypes: datetime64[ns](1), datetime64[us](1), int32(1), int64(3), object(1)
memory usage: 440.0+ bytes

In [ ]:
df['age'] = (df["year_todaydatetime"] - df['year_of_birth'])

In [ ]:
df

,name,date_of_birth,todaydatetime,year_of_birth,hour,todayyear,year_todaydatetime,age
0,alice,1980-10-15,2024-06-11 08:42:44.318413,1980,8,2024,2024,44
1,bob,1988-10-29,2024-06-11 08:42:44.318413,1988,8,2024,2024,36
2,charlie,1993-09-18,2024-06-11 08:42:44.318413,1993,8,2024,2024,31
3,david,1990-01-11,2024-06-11 08:42:44.318413,1990,8,2024,2024,34
4,mark,1982-07-06,2024-06-11 08:42:44.318413,1982,8,2024,2024,42
5,Judy,1998-03-06,2024-06-11 08:42:44.318413,1998,8,2024,2024,26